.first-fold-blog {
    padding: 2em 4em;
}

.first-fold-blog h1 {
    text-align: left;
    font-size: 2em;
}

.first-fold-blog > img {
    width: 100%;
}

.blog-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: solid thin #E9EAF0;
}

.avatar-container {
    display: flex;
    column-gap: 10px;
}

.avatar-container > img {
    width: 112px;
    height: 32px;
}

.reading-count-blog {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.reading-count-blog p:first-child {
    width: 100%;
    font-size: 0.8em;
}
.reading-count-blog p:last-child {
    width: 100%;
    font-size: 0.5em;
}

.reading-count-blog p {
    margin: 0;
    text-align: left;
}

.blog-date-container {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
    font-size: 0.7em;
    align-items: flex-end;
}

.blog-main-text {
    background-color: #D9D9D9;
    padding: 2em 4em;
    text-align: left;
    color: #4E5566;
    font-size: 0.8em;
}

.blog-main-text h4 {
    color: #1D2026;
    font-size: 1.5em;
    margin-bottom: 5px;
}