.contact-main-container {
    background-color: #EBEFFF;
    background-image: url('/bk-contactanos.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    min-height: 745px;
    align-items: center;
    text-align: left;
    padding: 0 3em;
    border-radius: 120px;
}

.form-login-input-container textarea {
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-radius: 20px;
    color: #333333;
    padding: 20px 25px;
    border: solid thin #eeeeee;
}

.right-content-contact {
    color: #333333;
}

.right-content-contact h1 {
    font-weight: 300;
}

.right-content-contact strong,
.right-content-contact h6 {
    color: #656ED3;
}

.right-content-contact h6 {
    font-size: 0.8em;
}

.left-content-contact {
    text-align: center;
}

@media (max-width: 800px) {
    .contact-main-container {
        flex-wrap: wrap;
    }
}